.main__search {
	//height: 300px;
	margin-bottom: 100px;

	$search_height: 40px;
	$maru: $search_height - 10px;
	$batu: $maru * 0.8;
	$musimegane: $maru * 0.8;

	.main__search__staition{
		border: solid 1px black;
		border-radius: $search_height / 2;

		display: flex;
		width: 75%;
		height: $search_height;
		margin: 50px auto;

		display: flex;
		align-Items: center;
	}

	//発
	.main__search__staition__hatu{
		font-size: 20px;
		margin: 0 10px;
		height: $maru;
		width: $maru;
		padding: 5px;
		border: solid 1px black;
		border-radius: $maru / 2;
		display: flex;
		align-Items: center;
		justify-Content: center;
	}

	//検索ボックス
	input {
		height: $search_height;
		width: 150px;
		//border: solid 0.3px grey;
	}

	//バツボタン
	.main__search__staition__batubox{
		height: $search_height;
		width: $batu + $search_height;
		//margin-left: - $search_height;
		padding: 5px 0 5px 5px;
		border-right: solid 1px black;
		border-left: none;
		border-radius: $search_height / 2;
	}

	.main__search__staition__batu{
		width: 100%;
		height: 100%;

		//display: block;
 		position: relative;
		display: flex;
		align-Items: center;
		justify-Content: center;
	}

	.main__search__staition__batu::before, .main__search__staition__batu::after{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px; /* 棒の幅（太さ） */
		height: $search_height * 0.6; /* 棒の高さ */
		background: black; /* バツ印の色 */
	}

	.main__search__staition__batu::before{
		transform: translate(-50%,-50%) rotate(45deg);
	}

	.main__search__staition__batu::after{
		transform: translate(-50%,-50%) rotate(-45deg);
	}

	//虫眼鏡
	.main__search__staition__musimegane{
		margin: 0 5px 0 auto;
	}
	.main__search__staition__musimegane img{
		width: $musimegane;
		height: $musimegane;
	}


}